<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contactservice20220617141611.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8abdf1fc-e74e-4c25-b411-3209a066744f/resourcegroups/DefaultResourceGroup-EA/providers/Microsoft.Web/sites/ContactService20220617141611</ResourceId>
    <UserName>$ContactService20220617141611</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://contactservice20220617141611.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>